<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light text-uppercase fixed-top" id="mainNav" style="padding-bottom: 10px;">
            <div class="container">
                <a class="navbar-brand text-dark" href="#page-top">China Fusion</a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-dark" href="{{url_for('dashboard')}}">Create Referral</a></li>
                        <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-dark" href="{{url_for('logout')}}">About</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

    </body>
    <footer class="footer text-center">
        <p>Copyright©   |   Terms and conditions    |   Privacy policy</p>
    </footer>
</html>